{:releases {}, :tickets [{:closed-by "", :description "", :current-state :closed, :summary "Trying to see if git works", :type "work", :id 1, :branch "", :states {:open 1349308800000, :closed 1349308800000, :in-progress 1349308800000}, :reported-by "paul.degrandis@gmail.com", :points "0", :owner "paul.degrandis@gmail.com", :history [{:at 1349308800000, :commit "0a08b6c5e10d72760a72d69251f03d75e42886a3", :message "Ticket doc updates; great for testing [:1]"} {:at 1349308800000, :commit "a5311ba71ede20458c9a72255a48cd764074c087", :message "Patched up the README to a correct example [closed :1]"}]} {:description "", :closed-by "", :type "work", :history [], :reported-by "paul.degrandis@gmail.com", :id 2, :summary "Add the ttt tickets and prefs file", :current-state :open, :branch "", :points "0", :states {:open 1349308800000}, :owner "paul.degrandis@gmail.com"}]}